@import "../../variables.scss";

.card {
    height: 500px;
    width: 310px;
    border-radius: 10px;
    padding: 30px 10px 10px 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    
  

  img {
    height: 60%;
    width: 35%;
    border-radius: 2px 2px 0 0;
  }

  .info {
    height: 40%;
    width: 85%;
    padding: $base-spacing * 2;
    border-top: none;
    border-radius: 0 2px 2px 0;
    display: flex;
    flex-direction: column;
    padding-top: $base-spacing * 2;
    overflow: hidden;
    

    h2 {
      color: black;
      font-size: 25px;
      font-family: 'Oswald', sans-serif;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      text-transform: uppercase;
      padding: 20px;
    }

    p {
      color: #4FAFC1;
      margin-bottom: $base-spacing * 2;
      
    }
  }
}