@import "../../variables.scss";

.card {
    height: 500px;
    width: 250px;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  img {
    height: 60%;
    width: 60%;
    border-radius: 2px 2px 0 0;
  }

  .info {
    height: 50%;
    width: 85%;
    padding: $base-spacing * 2;
    border-top: none;
    border-radius: 0 2px 2px 0;
    display: flex;
    flex-direction: column;
    padding-top: $base-spacing * 2;
    overflow: hidden;
    

    h2 {
      color: $primary-color;
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }

    p {
      color: $secondary-text;
      margin-bottom: $base-spacing * 2;
      
    }
  }
}