@import "../../variables.scss";


.employeeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 275px;
    border: 7px solid #C0C0C0;
    color: $primary-color;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #EBEBEB;
}

