.app {
  height: 100vh;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  align-items: center;
  background-image:url("../src/assets/cat.png");
  background-size: contain;
  

}

li {
  list-style-type: none;
  padding: 10px;
  
}

.button {
  background-color: #4203DC;
  border: none;
  border-radius: 30px;
  padding: 20px;
  color: white;
  font-size: 20px;
  width: 20%;
  
}


.list {
  background-color: #4203DC;
  width: 60%;
  color: white;
  font-size: 20px;
  height: 70vh;
  padding: 30px;
  border-radius: 30px;
  overflow: hidden;
}