.header {
    text-align: center;
    padding-top: 20px;
    background-color: #3A6EA5;
    color: #EBEBEB;
}
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #3A6EA5;
}